<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  
  <connectionStrings>
    <add name="SimpleContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.105\SQLEXPRESS;Database=EFMigration;User Id=sa;Password=abcABC123;" />
  </connectionStrings>
</configuration>